
                     
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BlushbyAnshii - Kissed in Sunshine</title>
                     <meta charset="utf-8">
                     <meta http-equiv="X-UA-Compatible" content="IE=edge">
                     <meta name="description" content="Wish shop project">
                     <meta name="viewport" content="width=device-width, initial-scale=1">
                     <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
                     <link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
                     <link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}">
                     <link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">

                         
                     <!--essence-->
                         <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
                         <link rel="stylesheet" href="{% static 'style.css' %}">
                     </head>
                     <body>
                     
                     <div class="super_container">
                         
                         <!-- Header -->
                     
                     <!-- ##### Header Area Start ##### -->
                     <header class="header_area">
                         <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
                             <!-- Classy Menu -->
                             <nav class="classy-navbar" id="essenceNav">
                                 <!-- Logo -->
                                 <a class="nav-brand" href="index.html" style="color: #e11687; font-family:'Poppins', sans-serif"><!--<img src="{% static 'img/logo.jpg' %}" height="" alt="">-->BLUSH</a>
                                 <!-- Navbar Toggler -->
                                 <div class="classy-navbar-toggler">
                                     <span class="navbarToggler"><span></span><span></span><span></span></span>
                                 </div>
                                 <!-- Menu -->
                                 <div class="classy-menu">
                                     <!-- close btn -->
                                     <div class="classycloseIcon">
                                         <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                     </div>
                                     <!-- Nav Start -->
                                     <div class="classynav">
                                         <ul>
                                             <li><a href="#">New Arrival</a>
                                                 <div class="megamenu">
                                                     <ul class="single-mega cn-col-4">
                                                         <li class="title">INDIAN WEAR</li>
                                                         <li><a href="shop.html">Sarees</a></li>
                                                         <li><a href="shop.html">Lehengas</a></li>
                                                         <li><a href="shop.html">Kurtis</a></li>
                                                         <li><a href="shop.html">Ethnic Gown</a></li>
                                                         <li><a href="shop.html">Two Pices Set</a></li>
                                                     </ul>
                                                     <ul class="single-mega cn-col-4">
                                                         <li class="title">WESTERN WEAR</li>
                                                         <li><a href="shop.html">Tops &amp; Tees</a></li>
                                                         <li><a href="shop.html">Gowns</a></li>
                                                         <li><a href="shop.html">Dresses</a></li>
                                                         <li><a href="shop.html">Prom Dresses</a></li>
                                                     </ul>
                                                     <ul class="single-mega cn-col-4">
                                                         <li class="title">INDO WESTERN</li>
                                                         <li><a href="shop.html">Crop Top &amp; Skirt</a></li>
                                                         <li><a href="shop.html">Drape Style</a></li>
                                                         <li><a href="shop.html">Kurti Plazzo Set</a></li>
                                                         <li><a href="shop.html">Three Piece Outfit</a></li>
                                                         
                                                     </ul>
                                                     <div class="single-mega cn-col-4">
                                                         <img src="{% static 'img/bg-img/bg-6.jpg' %}" alt="">
                                                     </div>
                                                 </div>
                                             </li>
                                             <li><a href="#">Inspired Outfit</a>
                                                 <ul class="dropdown">
                                                     <li><a href="index.html">Celebrity Inspired</a></li>
                                                     <li><a href="blog.html">Exclusive Design</a></li>
                                                     <li><a href="shop.html">Shop</a></li>
                                                     <li><a href="single-product-details.html">Product Details</a></li>
                                                     <li><a href="checkout.html">Checkout</a></li>
                                                    <!-- <li><a href="blog.html">Blog</a></li>
                                                     <li><a href="single-blog.html">Single Blog</a></li>
                                                     <li><a href="regular-page.html">Regular Page</a></li>-->
                                                     <li><a href="contact.html">Contact</a></li>
                                                 </ul>
                                             </li>
                                             
                                             <li><a href="{% url 'lookbook' %}">Lookbook</a></li>
                                             <li><a href="contact.html">About Us</a></li>
                                             
                                         </ul>
                                     </div>
                                     <!-- Nav End -->
                                 </div>
                             </nav>
                     
                             <!-- Header Meta Data -->
                             <div class="header-meta d-flex clearfix justify-content-end">
                                 <!-- Search Area -->
                                 <div class="search-area">
                                     <form action="#" method="post">
                                         <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                                         <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                     </form>
                                 </div>
                                 <!-- Favourite Area -->
                                 <div class="favourite-area">
                                     <a href="#"><img src="{% static 'img/core-img/heart.svg' %}" alt=""></a>
                                 </div>
                                 <!-- User Login Info -->
                                 <div class="user-login-info">
                                     <a href="#"><img src="{% static 'img/core-img/user.svg' %}" alt=""></a>
                                 </div>
                                 <!-- Cart Area -->
                                 <div class="cart-area">
                                     <a href="#" id="essenceCartBtn"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span>3</span></a>
                                 </div>
                             </div>
                     
                         </div>
                     </header>
                     <!-- ##### Header Area End ##### -->
                     
                     <!-- ##### Right Side Cart Area ##### -->
                     <div class="cart-bg-overlay"></div>
                     
                     <div class="right-side-cart-area">
                     
                         <!-- Cart Button -->
                         <div class="cart-button">
                             <a href="#" id="rightSideCart"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span>3</span></a>
                         </div>
                     
                         <div class="cart-content d-flex">
                     
                             <!-- Cart List Area -->
                             <div class="cart-list">
                                 <!-- Single Cart Item -->
                                 <div class="single-cart-item">
                                     <a href="#" class="product-image">
                                         <img src="{% static 'img/product-img/product-1.jpg' %}" class="cart-thumb" alt="">
                                         <!-- Cart Item Desc -->
                                         <div class="cart-item-desc">
                                           <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                                             <span class="badge">Mango</span>
                                             <h6>Button Through Strap Mini Dress</h6>
                                             <p class="size">Size: S</p>
                                             <p class="color">Color: Red</p>
                                             <p class="price">$45.00</p>
                                         </div>
                                     </a>
                                 </div>
                     
                                 <!-- Single Cart Item -->
                                 <div class="single-cart-item">
                                     <a href="#" class="product-image">
                                         <img src="{% static 'img/product-img/product-2.jpg' %}" class="cart-thumb" alt="">
                                         <!-- Cart Item Desc -->
                                         <div class="cart-item-desc">
                                           <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                                             <span class="badge">Mango</span>
                                             <h6>Button Through Strap Mini Dress</h6>
                                             <p class="size">Size: S</p>
                                             <p class="color">Color: Red</p>
                                             <p class="price">$45.00</p>
                                         </div>
                                     </a>
                                 </div>
                     
                                 <!-- Single Cart Item -->
                                 <div class="single-cart-item">
                                     <a href="#" class="product-image">
                                         <img src="{% static 'img/product-img/product-3.jpg' %}" class="cart-thumb" alt="">
                                         <!-- Cart Item Desc -->
                                         <div class="cart-item-desc">
                                           <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                                             <span class="badge">Mango</span>
                                             <h6>Button Through Strap Mini Dress</h6>
                                             <p class="size">Size: S</p>
                                             <p class="color">Color: Red</p>
                                             <p class="price">$45.00</p>
                                         </div>
                                     </a>
                                 </div>
                             </div>
                     
                             <!-- Cart Summary -->
                             <div class="cart-amount-summary">
                     
                                 <h2>Summary</h2>
                                 <ul class="summary-table">
                                     <li><span>subtotal:</span> <span>$274.00</span></li>
                                     <li><span>delivery:</span> <span>Free</span></li>
                                     <li><span>discount:</span> <span>-15%</span></li>
                                     <li><span>total:</span> <span>$232.00</span></li>
                                 </ul>
                                 <div class="checkout-btn mt-100">
                                     <a href="checkout.html" class="btn essence-btn">check out</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <!-- ##### Right Side Cart End ##### -->
                     
                     <!-- Home -->
                     <div style="height: 1px;"></div>
                     
                         <!-- Home -->
                     
                         <div class="home">
                                <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/cart.jpg' %}" data-speed="0.8"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_container" style="height:250px;">
                                                <div class="home_content" style="top:50%">
                                                    <div class="home_title">{% for cat in products.category.category.all %}{{cat}}{% endfor %}</div>
                                                    <div class="breadcrumbs">
                                                        <ul>
                                                            <li><a href="index.html">Home</a></li>
                                                            <li>{{products.category}}</li>
                                                            <li>{{products.title}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:5px; width:100%; background-color:#e11687"></div>
                            </div>
                        
                         <!-- Product -->
                     
                         <div class="product" >
                                <div class="container">
                                    
                             
                                 <div class="row product_row" style="margin-top:0; padding-top:0;">
                     
                                     <!-- Product Image -->
                                     <div class="col-lg-7">
                                         <div class="product_image">
                                             <div class="product_image_large"><img src="{{ products.image.url }}" alt=""></div>
                                             <div class="product_image_thumbnails d-flex flex-row align-items-start justify-content-start">
                                                 <div class="product_image_thumbnail" style="background-image:url({{ products.image.url }})" data-image="{{ products.image.url }}"></div>
                                                 {% if products.image1 %}
                                                    <div class="product_image_thumbnail" style="background-image:url({{ products.image1.url }})" data-image="{{ products.image1.url }}"></div>
                                                 {% endif %}
                                                 {% if products.image2 %}
                                                    <div class="product_image_thumbnail" style="background-image:url({{ products.image2.url }})" data-image="{{ products.image2.url }}"></div>
                                                 {% endif %}
                                             </div>
                                         </div>
                                     </div>
                     
                                     <!-- Product Content -->
                                     <div class="col-lg-5">
                                         <div class="product_content">
                                             <div class="product_name">{{products.title}}</div>
                                             <div class="product_price">Rs. {{products.price}}</div>
                                             Tags: 
                                             {% for tag in products.tags.all %}
                                                <a href="../../tags/?q={{ tag }}">{{tag}}</a>
                                             {% endfor %}
                                        
                                             <div class="product_text" style="margin-top:16px;">
                                                 <p style="color:#333">{{products.description |linebreaksbr }}.</p>
                                             </div>
                                             <!-- Product Quantity -->
                                             <div class="product_quantity_container">
                                                    <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">Message:</label>
                                                            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="6"></textarea>
                                                            <button type="button" class="btn btn-success" style="float:right; margin-top:5px; background-color: #e11687; border-radius: 0; border:0;">Save</button>
                                                        </div>
                                             </div>
                                             <!-- Product Size -->
                                             <div class="product_size_container">
                                                 <div class="button cart_button" style="background-color: #e11687; "><a href="#">add to cart</a></div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                     
                                 <!-- Reviews -->
                     
                                 <div class="row">
                                     <div class="col">
                                         <div class="reviews">
                                             <div class="reviews_title">reviews</div>
                                             <div class="reviews_container">
                                                 <ul>
                                                     <!-- Review -->
                                                     <li class=" review clearfix">
                                                         <div class="review_image"><img src="{% static 'images/review_1.jpg' %}" alt=""></div>
                                                         <div class="review_content">
                                                             <div class="review_name"><a href="#">Maria Smith</a></div>
                                                             <div class="review_date">Nov 29, 2017</div>
                                                             <div class="rating rating_4 review_rating" data-rating="4">
                                                                 <i class="fa fa-star"></i>
                                                                 <i class="fa fa-star"></i>
                                                                 <i class="fa fa-star"></i>
                                                                 <i class="fa fa-star"></i>
                                                                 <i class="fa fa-star"></i>
                                                             </div>
                                                             <div class="review_text">
                                                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo. Etiam sed placerat felis. Proin non rutrum ligula. </p>
                                                             </div>
                                                         </div>
                                                     </li>
                                                     <!-- Review -->
                                                     <li class=" review clearfix">
                                                         <div class="review_image"><img src="{% static 'images/review_2.jpg' %}" alt=""></div>
                                                         <div class="review_content">
                                                             <div class="review_name"><a href="#">Maria Smith</a></div>
                                                             <div class="review_date">Nov 29, 2017</div>
                                                             <div class="rating rating_4 review_rating" data-rating="4">
                                                                 <i class="fa fa-star"></i>
                                                                 <i class="fa fa-star"></i>
                                                                 <i class="fa fa-star"></i>
                                                                 <i class="fa fa-star"></i>
                                                                 <i class="fa fa-star"></i>
                                                             </div>
                                                             <div class="review_text">
                                                                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis quam ipsum. Pellentesque consequat tellus non tortor tempus, id egestas elit iaculis. Proin eu dui porta, pretium metus vitae, pharetra odio. Sed ac mi commodo, pellentesque erat eget, accumsan justo. Etiam sed placerat felis. Proin non rutrum ligula. </p>
                                                             </div>
                                                         </div>
                                                     </li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                     
                                 <!-- Leave a Review -->
                     
                                 <div class="row">
                                     <div class="col">
                                         <div class="review_form_container">
                                             <div class="review_form_title">leave a review</div>
                                             <div class="review_form_content">
                                                 <form action="#" id="review_form" class="review_form">
                                                     <div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
                                                         <input type="text" class="review_form_input" placeholder="Name" required="required">
                                                         <input type="email" class="review_form_input" placeholder="E-mail" required="required">
                                                         <input type="text" class="review_form_input" placeholder="Subject">
                                                     </div>
                                                     <textarea class="review_form_text" name="review_form_text" placeholder="Message"></textarea>
                                                     <button type="submit" class="review_form_button">leave a review</button>
                                                 </form>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>		
                         </div>
                     
                         <!-- Newsletter -->
                     
                         <div class="newsletter">
                             <div class="newsletter_content">
                                 <div class="newsletter_image" style="background-image:url({% static 'images/newsletter.jpg' %})"></div>
                                 <div class="container">
                                     <div class="row">
                                         <div class="col">
                                             <div class="section_title_container text-center">
                                                 <div class="section_subtitle">only the best</div>
                                                 <div class="section_title">subscribe for a 20% discount</div>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="row newsletter_container">
                                         <div class="col-lg-10 offset-lg-1">
                                             <div class="newsletter_form_container">
                                                 <form action="#">
                                                     <input type="email" class="newsletter_input" required="required" placeholder="E-mail here">
                                                     <button type="submit" class="newsletter_button">subscribe</button>
                                                 </form>
                                             </div>
                                             <div class="newsletter_text">Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel lorem libero. Integer ex mi, facilisis sed nisi ut, vestib ulum ultrices nulla. Aliquam egestas tempor leo.</div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     
                         <!-- Footer -->
                     
                         <footer class="footer">
                             <div class="container">
                                 <div class="row">
                                     <div class="col text-center">
                                         <div class="footer_logo"><a href="#">BLUSH</a></div>
                                         <nav class="footer_nav">
                                             <ul>
                                                 <li><a href="index.html">home</a></li>
                                                 <li><a href="categories.html">clothes</a></li>
                                                 <li><a href="categories.html">accessories</a></li>
                                                 <li><a href="categories.html">lingerie</a></li>
                                                 <li><a href="contact.html">contact</a></li>
                                             </ul>
                                         </nav>
                                         <div class="footer_social">
                                             <ul>
                                                 <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                                 <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                 <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                 <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                                                 <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                             </ul>
                                         </div>
                                         <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                     Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                     <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                                     </div>
                                 </div>
                             </div>
                         </footer>
                     </div>
                     
                     <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
                     <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
                     <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
                     <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
                     <script src="{% static 'plugins/easing/easing.js' %}"></script>
                     <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
                     <script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
                     <script src="{% static 'js/product_custom.js' %}"></script>
                     
                             <!-- jQuery (Necessary for All JavaScript Plugins) -->
                         <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
                         <!-- Popper js -->
                         <script src="{% static 'js/popper.min.js' %}"></script>
                         <!-- Bootstrap js -->
                         <script src="{% static 'js/bootstrap.min.js' %}"></script>
                         <!-- Plugins js -->
                         <script src="{% static 'js/plugins.js' %}"></script>
                         <!-- Classy Nav js -->
                         <script src="{% static 'js/classy-nav.min.js' %}"></script>
                         <!-- Active js -->
                         <script src="{% static 'js/active.js' %}"></script>
                     </body>
                     </html>