{% for list in item_list %}
    <a href="/products/{{ list.id }}"><h2>{{ list.title }}</h2></a>
    <p>{{ list.description }}</p>
    <h4>Rs. {{ list.price }}</h4><br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if item_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ item_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ item_list.number }} of {{ item_list.paginator.num_pages }}.
        </span>

        {% if item_list.has_next %}
            <a href="?page={{ item_list.next_page_number }}">next</a>
            <a href="?page={{ item_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>  